.spinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: var(--global-border-radius);
  background-color: #ffffff;
}

.spinnerAnimation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 64px !important;
  height: 64px !important;
}

.spinnerText {
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0 auto;
  width: 110px;
}
